/* this CSS is kinda messy because of some merge conflict resolution attempts */

.container {
  font-family: 'Lexend', sans-serif;

  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#homepage.container {
  max-width: 480px;
}

#report.container {
  max-width: 600px;
}

#homepage {
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#wordmark {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 432px;
}

#wordmark-header {
  margin: 1em auto 0;
  max-height: 6em;
  width: 100%;
}

.wordmark-img {
  width: 100%;
}

html {
  background-color: #ffe6f7;
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0 1rem;
}


#report img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
    padding: 5px 0;
    border-radius: .75rem;
    filter: drop-shadow(5px 5px 9px #22222299);
}

.quote {
    border-left: 4px solid purple;
    padding-left: 8px;
    padding-right: 16px;
}

.quote p {
    padding: 0;
    margin: 6px 0;
}

.quote a {
    color: darkviolet;
}

.quote .quote {
    border-color: #6c006c;
}

.code {
    font-weight: 600;
    font-family: monospace;
    background-color: lightgray;
    padding: 0 4px;
}

.subtext {
    color: #666;
}

.italic {
    font-style: italic;
}

#report h1, #report h2, #report h3 {
    border-bottom: 2px solid darkslategray;
}

hr {
    border: none;
    border-top: 2px solid #e0a7cb;
}
